{% extends 'base_block.html' %}

{% block content %}
	<h1>{% block title %} Encodez vos informations {% endblock %}</h1>
	<form method="POST" action="{{ url_for('submit') }}">
		<label for="nom">Nom :</label>
		<input type="text" id="nom" name="nom" required><br>

        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom" required><br>

        <label for="naissance">Date de naissance :</label>
        <input type="date" id="naissance" name="naissance" required><br>

        <label for="ecole">Nom de l'école :</label>
        <input type="text" id="ecole" name="ecole" required><br>

        <label for="ville">Ville de école :</label>
        <input type="text" id="ville" name="ville" required><br>

        <label for="annee">Année :</label>
        <select name="annee" id="annee">
            <option value="1ere">1ere</option>
            <option value="2eme">2eme</option>
            <option value="3eme">3eme</option>
            <option value="4eme">4eme</option>
            <option value="5eme">5eme</option>
            <option value="6eme">6eme</option>
            <option value="7eme">7eme</option>
        </select><br>

        <label for="classe">Classe :</label>
        <input type="text" id="classe" name="classe" required><br>

        <label for="option">Option :</label>
        <input type="text" id="option" name="option" required><br>

        <button type="submit">Envoyer</button>
{% endblock %}
